@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat&family=Open+Sans+Condensed:wght@300&display=swap");








.main {
    display: flex;
}

.project_title {
    font-family: 'Archivo Black', sans-serif;
    font-size: 27px;
    margin-bottom: 0;
}

/* Movie Page */
.homepage {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;

}

.homepage .filter {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.85;
    top: 0;
    left: 0;
}

.homepage .display {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    font-size: 25px;
}

.controlButton {
    width: 30%;
}

.homepage .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    color: white;
}


.movie_title {
    font-family: 'Archivo Black', sans-serif;
    font-size: 75px;
    text-align: center;
    text-shadow: -1px 0 black, 0 10px black, 1px 0 black, 0 -1px black;
}

.movie_date {
    font-size: 15px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.movie_overview {
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.movie_details {
    font-size: 15px;
}

.movie_details .movie_note {
    width: 25rem;
}

.movie_details .score {

}

/* End of Movie Page */


/* Details Page */
.details {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: -75px auto 0 auto;
    height: 20.625rem;
}

.details_actors {
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    margin: 5px 0 20px 0;
    background-size: 100% 100%;

}
.detail_poster {
    margin-bottom: 0.5rem;
    height: 18.5rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.58));
}
.detail_backdrop {
    height: 250px;
    width: 80%;
    background-size: cover;
    background-position: top left;
    position: relative;
}


.name {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    width: 50%;

}
.description{
    font-size: 0.8rem;
}
.actorPictures {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.similarPictures {
    height: 7.5rem;
    background-size: 100% 100%;
    background-repeat:   no-repeat;
    background-position: center center;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.58))
}
.similarTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/* End of Details Page */


/* Search Page Form */

.form-row .search_input {
    text-align: center;
    width: 125px;
    color: #555;
    font-size: 15px;
    font-weight: 700;
    line-height: 50px;
}
.inputStyle {
    background: #e5e5e5;
    line-height: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    border-color: transparent;
}
.buttonStyle{
    height:40px;
}

.textAreaStyle {
    background: #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    border-color: transparent;
}
.actorInput {
    background: #e5e5e5;
    line-height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color: transparent;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}


.label--desc {
    text-transform: capitalize;
    display: block;
    color: #999;
    font-size: 14px;
    margin: 0 0 5px 0;
}

.input-group-desc {
    position: relative;
}
.formStyle{
    margin-left: 9.375rem;
}
/* End of Search Page */

.description_title {
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

}

.description_cat {
    font-weight: bold;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}


.castInfo {
    border: solid #fec43d;
    background-color: rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1200px) {

    /* Movie Page */
    .movie {
        margin-top: 100px;
    }

    .movie_title {
        font-family: 'Archivo Black', sans-serif;
        font-size: 40px;
        text-shadow: -1px 0 black, 0 7px black, 1px 0 black, 0 -1px black;
    }

    .movie_date {
        font-size: 10px;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
    }

    .movie_overview {
        font-size: 13px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .movie_details {
        font-size: 10px;
    }

    .movie_details .movie_note {
        width: auto;
    }

    .movie_details .score {

    }

    /*Search Page*/
    .formStyle{
       margin: auto;
    }
    /*End of Search Page */

    /*Details Page */
    .detail_poster {
        height:20rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center ;
        filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.58));
    }
    .details{
        margin-top: 50px;
    }
    .detail_backdrop_container{
        position: absolute;
        opacity: 0;
        z-index: 2;
        top: -1500px;
        content: none;
    }
    .details_actors{
        font-size: 20px;
    }
    .details_container {
        display: flex;
        flex-direction: column;
    }
    .name{
        width: 30%;
        font-size: 10px;

    }
    .similarTitle{
        font-size: 10px;
    }
    .actorPictures{
        height: 50px;
    }

    /* End of Details Page */


}
