.homepage{
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

}
.homepage .filter{
  height: 100%;
  width: 100%;
  position: absolute;

  background-color: black;
  opacity: 0.6;
  top: 0;
  left: 0;
}
.homepage .details{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;

  top: 0;
  left: 0;
}

.inputStyle {
  background: #e5e5e5;
  line-height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
  border-color: transparent;
}
.textAreaStyle{
  background: #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
  border-color: transparent;
}
.actorInput{
 background: #e5e5e5;
line-height: 30px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
  border-color: transparent;
padding: 0 22px;
font-size: 16px;
color: #555;
}

.form-row .name {
  text-align: center;
  width: 125px;
  color: #555;
  font-size: 15px;
  font-weight: 700;
  line-height: 50px;
}
.form-row .value {
  width: -webkit-calc(100% - 125px);
  width: -moz-calc(100% - 125px);
  width: calc(100% - 125px);
}
.label--desc {
  text-transform: capitalize;
  display: block;
  color: #999;
  font-size: 14px;
  margin: 0 0 5px 0;
}
.input-group-desc{
  position: relative;
}
